.linea {
    width: 100% !important;
    border-bottom: 3px dotted #c4c4c7;
    margin-top: 1rem;
}

.icono-opciones {
    color: #ff4f38;
    font-size: 22px;
    margin: 0;
    border: 1px solid #ff4f38;
    padding: .30rem;
    border-radius: 100%;
}

.relative {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    height: 100%;
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}