.img-logo {
    height: 2rem;
}

.linea {
    border-bottom: 1px solid #dfdede;
}

.icono-opciones {
    color: #ff4f38;
    font-size: 25px;
    border: 1px solid #ff4f38;
    padding: .5rem;
    border-radius: 100%;
}

.custom-loading {
    --background: #F4B004;
    --spinner-color: #F94701;
}