.img-logo {
    height: 2rem;
}

.back-img {
    width: 100%;
    height: 100%;
}

.myCard {
    position: relative;
}

.myOverlay {
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.75;
    background: #000;
    color: #fff;
    margin-bottom: 0.25rem;
}

.card-title {
    font-size: 16pt;
    color: whitesmoke;
    margin: auto;
}