<ion-content>

    <div *ngIf="infoReady">
        <ion-list *ngIf="hasOfertas" style="margin:0">
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let oferta of ofertas" routerLink="/ofertas">
                    <ion-img [src]="oferta.url"></ion-img>
                </ion-slide>
            </ion-slides>
        </ion-list>

        <ion-list *ngFor="let categoria of categorias | keyvalue">
            <ion-card>
                <ion-card-header>
                    <ion-img [src]="ofertas[0].url"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-list>
    </div>

</ion-content>