<ion-header no-border *ngIf="lista">
    <ion-toolbar color="ligth">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar placeholder="Restaurantes o platillos"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="width: 100%; height: 100%">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12" (click)="presentOfertas()">
                            <img-loader src="../../../assets/images/ofertas.png" useImg></img-loader>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" (click)="mostrarLista('Restaurantes')">
                            <img-loader src="../../../assets/images/restaurantes.png" useImg></img-loader>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <img-loader src="../../../assets/images/abarrotes.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="6">
                            <img-loader src="../../../assets/images/basicos.png" useImg></img-loader>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/salud.png" useImg></img-loader>
                            <ion-label color="medium" style="font-size: 10pt">Salud</ion-label>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/moda.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/automotriz.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/tecnologia.png" useImg></img-loader>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/viajes.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/ferreterias.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/belleza.png" useImg></img-loader>
                        </ion-col>
                        <ion-col size="3">
                            <img-loader src="../../../assets/images/deportes.png" useImg></img-loader>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-list>
                    <ion-item detail routerLink="/lista-clasificados/bazar" routerDirection="forward">
                        <ion-avatar slot="start">
                            <img-loader src="../../../assets/images/bazar.png" useImg></img-loader>
                        </ion-avatar>
                        <ion-label color="medium">Bazar</ion-label>
                    </ion-item>
                    <ion-item detail routerLink="/lista-clasificados/inmuebles" routerDirection="forward">
                        <ion-avatar slot="start">
                            <img-loader src="../../../assets/images/inmuebles.png" useImg></img-loader>
                        </ion-avatar>
                        <ion-label color="medium">Inmuebles (renta/venta)</ion-label>
                    </ion-item>
                    <ion-item detail routerLink="/lista-empleos" routerDirection="forward">
                        <ion-avatar slot="start">
                            <img-loader src="../../../assets/images/empleos.png" useImg></img-loader>
                        </ion-avatar>
                        <ion-label color="medium">Empleos</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%">
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let item of subCategorias">
                        <img [src]="item.url" alt=""> <br>
                        <span>{{item.categoria}}</span>
                    </div>
                </div>

                <div *ngIf="hasOfertas" style="padding: .25rem 2rem">
                    <ion-item lines="none" detail (click)="presentOfertas()">
                        <ion-label>Promociones</ion-label>
                        <ion-note slot="end" color="primary">Ver todas</ion-note>
                    </ion-item>
                    <ion-slides [options]="sliderOfertas" pager="true">
                        <ion-slide *ngFor="let sub of ofertas">
                            <img [src]="sub.url" (click)="presentOferta(sub.key)">
                        </ion-slide>
                    </ion-slides>
                </div>

                <ion-list>
                    <ion-item *ngFor="let item of negocios" (click)="goDetails(item)" detail>
                        <ion-thumbnail slot="start">
                            <img [src]="item.url">
                        </ion-thumbnail>
                        <ion-grid no-padding>
                            <ion-row>
                                <ion-col>
                                    <h6 class="mb-5 mt-0 wrap-text">{{item.nombre}}</h6>
                                    <ion-label class="negocio-descripcion">{{item.subCategoria}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <div *ngIf="item.rate > 0">
                                        <span class="star">{{item.rate | number:'1.0-2'}}
                                            <ion-icon name="star"></ion-icon>
                                            <small style="color: darkgray">({{item.valoraciones}})</small>
                                        </span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>

                <div *ngIf="!prodsReady">
                    <div>
                        <div class="skel">
                            <ion-skeleton-text animated style="width: 80%; height: 120px;"></ion-skeleton-text>
                            <ion-item lines="none">
                                <ion-skeleton-text animated style="width: 40%; height: 60px;"></ion-skeleton-text>
                                <ion-grid no-padding>
                                    <ion-row>
                                        <ion-col>
                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col>
                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-item>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>




</ion-content>