<ion-content>
    <div *ngIf="infoReady">
        <ion-list *ngIf="hasOfertas" style="margin:0">
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let oferta of ofertas" routerLink="/ofertas">
                    <img [src]="oferta.url">
                </ion-slide>
            </ion-slides>
        </ion-list>

        <ion-list *ngFor="let categoria of categorias | keyvalue">
            <div style="padding: .25rem 2rem">
                <ion-img [src]="categoria.value.url" [routerLink]="['/lista', categoria.key]"></ion-img>
                <ion-slides [options]="sliderConfigCat">
                    <ion-slide *ngFor="let sub of categoria.subCategorias | keyvalue">
                        <img [src]="sub.value">
                    </ion-slide>
                </ion-slides>
            </div>
        </ion-list>
    </div>

</ion-content>