<ion-content>

    <div *ngIf="infoReady">
        <ion-list *ngIf="hasOfertas" style="margin:0">
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let oferta of ofertas" routerLink="/ofertas">
                    <img [src]="oferta.url">
                </ion-slide>
            </ion-slides>
        </ion-list>

        <ion-list *ngFor="let categoria of categorias">
            <ion-img [src]="categoria.url"></ion-img>
        </ion-list>
    </div>

</ion-content>