<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Negocio</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <div *ngIf="!fotosListas" class="foto-container" (click)="presentActionSheet()">
            <ion-img style="height: 25%; margin-top: 2rem" src="../../assets/images/camera-icon.png"></ion-img>
            <ion-label color="light">Puedes insertar hasta 10 imágenes</ion-label>
        </div>
        <div>
            <div *ngIf="fotosListas" class="foto-container">
                <ion-item lines="none" *ngIf="fotosPreview.length > 0" (click)="presentActionSheetEditar(0)" style="--background: transparent">
                    <ion-img class="shadow" [src]="fotosPreview[0]"></ion-img>
                </ion-item>
                <ion-slides [options]="sliderConfig" style="margin-top: .5rem">
                    <ion-slide *ngFor="let foto of fotosPreview | slice: 1; let i = index" (click)="presentActionSheetEditar(i)">
                        <ion-img [src]="foto"></ion-img>
                    </ion-slide>
                    <ion-slide *ngIf="fotosPreview.length <= 9  && fotosPreview.length > 0" (click)="presentActionSheet()">
                        <ion-text color="ligth">Agregar imagen</ion-text>
                    </ion-slide>
                </ion-slides>
            </div>
            <div class="form-card">
                <form #forma="ngForm" (submit)="publicar()">
                    <ion-item>
                        <ion-label color="medium" position="floating">Nombre</ion-label>
                        <ion-input [disabled]="subiendoAnuncio" [(ngModel)]="negocio.nombre" type="text" name="nombre" required minlength="3"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">Descripción</ion-label>
                        <ion-textarea [disabled]="subiendoAnuncio" [(ngModel)]="negocio.descripcion" name="descripcion" required minlength="10"></ion-textarea>
                    </ion-item>
                    <ion-item>
                        <ion-label color="medium" position="floating">Teléfono (10 dígitos)</ion-label>
                        <ion-input [disabled]="subiendoAnuncio" type="tel" required [(ngModel)]="negocio.telefono" name="telefono" minlength="10"></ion-input>
                    </ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col align-self-center size="6">
                                <ion-item lines="none">
                                    <ion-label color="medium" position="fixed" text-wrap>Servicio a domicilio</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-radio-group (ionChange)="radioGroupChange($event.detail.value)">
                                    <ion-item>
                                        <ion-label>Si</ion-label>
                                        <ion-radio value="true" [checked]="negocio.servicioDomicilio"></ion-radio>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>No</ion-label>
                                        <ion-radio value="false" [checked]="!negocio.servicioDomicilio"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-list>
                        <ion-list-header>
                            <ion-label color="medium">Horario</ion-label>
                        </ion-list-header>
                        <div *ngFor="let dia of negocio.horario; let i = index">
                            <ion-item lines="none">
                                <ion-label>{{dia.dia}}</ion-label>
                                <ion-checkbox (ionChange)="presentModalHorario(dia.dia, i)" [checked]="dia.activo" [(ngModel)]="dia.activo" slot="start" color="primary" name="dia[i]"></ion-checkbox>
                                <ion-label color="medium" *ngIf="!dia.activo">Cerrado</ion-label>
                                <ion-label color="primary" *ngIf="dia.activo">Abierto</ion-label>
                            </ion-item>
                            <ion-text style="float: right" color="medium">
                                <ion-text *ngIf="dia.activo && dia.corrido && dia.horaApertura">{{dia.horaApertura | date:'shortTime'}} -- {{dia.horaCierre | date:'shortTime'}}</ion-text>
                                <ion-text *ngIf="dia.activo && !dia.corrido && dia.horaApertura">
                                    {{dia.horaApertura | date:'shortTime'}} -- {{dia.cierreComida | date:'shortTime'}} <br> {{dia.reapertura | date:'shortTime'}} -- {{dia.horaCierre | date:'shortTime'}}
                                </ion-text>
                            </ion-text>
                        </div>

                    </ion-list>
                    <ion-item>
                        <ion-label color="medium" position="floating">Categoría</ion-label>
                        <ion-select [disabled]="subiendoAnuncio" (ionChange)="getSubCategorias()" [(ngModel)]="negocio.categoria" interface="action-sheet" required name="categoria">
                            <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{cat}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label color="medium" position="floating">Subcategoría</ion-label>
                        <ion-select [disabled]="subiendoAnuncio || !subCategoriasReady" [(ngModel)]="negocio.subCategoria" interface="action-sheet" required name="subCategoria">
                            <ion-select-option *ngFor="let cat of subCategorias" [value]="cat">{{cat}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label color="medium" position="floating">Dirección</ion-label>
                        <ion-input id="txtHome" type="text" [disabled]="subiendoAnuncio" [(ngModel)]="negocio.direccion" name="direccion" required></ion-input>
                    </ion-item>

                    <agm-map *ngIf="direccionReady" [latitude]="negocio.lat" [longitude]="negocio.lng" [zoom]="16">
                        <agm-marker [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true" [latitude]="negocio.lat" [longitude]="negocio.lng"></agm-marker>
                    </agm-map>


                    <ion-button style="margin: 2rem 0" [disabled]="!forma.valid || !fotosListas || subiendoAnuncio || !horarioReady" expand="block" shape="round" type="submit">
                        Publicar anuncio
                        <ion-spinner *ngIf="subiendoAnuncio" name="circles"></ion-spinner>
                    </ion-button>
                </form>
            </div>
        </div>
    </div>

</ion-content>