<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Negocio</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container">
        <div *ngIf="!fotosListas" class="foto-container" (click)="presentActionSheet()">
            <ion-img style="height: 50%; margin-top: 2rem" src="../../assets/images/camera-icon.png"></ion-img>
            <ion-label color="light">Puedes insertar hasta 3 imágenes</ion-label>
        </div>
        <div *ngIf="fotosListas" class="foto-container">
            <ion-row>
                <ion-col align-self-center *ngIf="fotosPreview.length > 0" (click)="presentActionSheetEditar(0)" size="4">
                    <ion-img class="shadow" [src]="fotosPreview[0]"></ion-img>
                    <ion-label color="light" style="margin-top: 0.8rem">Principal</ion-label>
                </ion-col>
                <ion-col align-self-center *ngIf="fotosPreview.length > 1" (click)="presentActionSheetEditar(1)" size="4">
                    <ion-img class="shadow" [src]="fotosPreview[1]"></ion-img>
                </ion-col>
                <ion-col align-self-center *ngIf="fotosPreview.length > 2" (click)="presentActionSheetEditar(2)" size="4">
                    <ion-img class="shadow" [src]="fotosPreview[2]"></ion-img>
                </ion-col>
                <ion-col *ngIf="fotosPreview.length <= 2  && fotosPreview.length > 0" align-self-center size="4" (click)="presentActionSheet()">
                    <ion-icon style="font-size: 35pt" color="light" name="add-circle-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <div class="form-card">
            <form #forma="ngForm" (submit)="publicar()">
                <ion-item>
                    <ion-label color="medium" position="floating">Título</ion-label>
                    <ion-input [disabled]="subiendoAnuncio" [(ngModel)]="negocio.nombre" type="text" name="nombre" required minlength="3"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="medium" position="floating">Descripción</ion-label>
                    <ion-textarea [disabled]="subiendoAnuncio" [(ngModel)]="negocio.descripcion" name="descripcion" required minlength="10"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label color="medium" position="floating">Teléfono (10 dígitos)</ion-label>
                    <ion-input [disabled]="subiendoAnuncio" type="number" required [(ngModel)]="negocio.telefono" name="telefono" minlength="10"></ion-input>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col align-self-center size="6">
                            <ion-item lines="none">
                                <ion-label color="medium" position="fixed" text-wrap>Servicio a domicilio</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-radio-group (ionChange)="radioGroupChange($event.detail.value)">
                                <ion-item>
                                    <ion-label>Si</ion-label>
                                    <ion-radio value="true" [checked]="negocio.servicioDomicilio"></ion-radio>
                                </ion-item>

                                <ion-item>
                                    <ion-label>No</ion-label>
                                    <ion-radio value="false" [checked]="!negocio.servicioDomicilio"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-item>
                    <ion-list>
                        <ion-item *ngFor="let dia of semana">
                            <ion-label>{{dia}}</ion-label>
                            <ion-checkbox slot="start" color="primary"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-item>
                <ion-item>
                    <ion-label color="medium" position="floating">Categoría</ion-label>
                    <ion-select [disabled]="subiendoAnuncio" [(ngModel)]="negocio.categoria" interface="action-sheet" required name="categoria">
                        <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{cat}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label color="medium" position="floating">Dirección</ion-label>
                    <ion-input id="txtHome" type="text" [disabled]="subiendoAnuncio" [(ngModel)]="negocio.direccion" name="direccion" required></ion-input>
                </ion-item>

                <agm-map *ngIf="direccionReady" [latitude]="negocio.lat" [longitude]="negocio.lng" [zoom]="16">
                    <agm-marker [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true" [latitude]="negocio.lat" [longitude]="negocio.lng"></agm-marker>
                </agm-map>


                <ion-button style="margin-top: 2rem" [disabled]="!forma.valid || !fotosListas || subiendoAnuncio" expand="block" shape="round" type="submit">
                    Publicar anuncio
                    <ion-spinner *ngIf="subiendoAnuncio" name="circles"></ion-spinner>
                </ion-button>
            </form>
        </div>
    </div>

</ion-content>