.container {
    position: relative;
}

.avatar {
    position: absolute;
    left: 5px;
    top: 15%;
    text-align: center;
    font-size: 18px;
    --background: transparent;
}

.verPerfil {
    position: absolute;
    left: 20px;
    top: 50%;
    text-align: center;
    font-size: 12px;
    --background: transparent;
}