<ion-header class="mb-15">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ofertas</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentCategorias()">Filtrar
                <ion-icon style="margin-left: .8rem" name="options"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>

    <div *ngIf="categoriaReady; else loading" style="margin-right: 0; width: 100% !important">
        <div class="relative" *ngFor="let oferta of ofertas">
            <ion-img class="bord" [routerLink]="['/ficha-oferta', oferta.key]" [src]="oferta.url" alt=""></ion-img>
            <div class="circle">
                <ion-icon color="light" class="topright" (click)="regresar()" name="heart-empty"></ion-icon>
            </div>
            <hr>
        </div>
        <ion-button *ngIf="toTop" expand="block" shape="round" (click)="pageScroller()">Regresar al principio</ion-button>
    </div>

    <ng-template #loading>
        <div *ngFor="let anuncio of [1,2,3,4,5,6,7,8]">
            <ion-skeleton-text animated style="width: 100%; height: 160px; margin-bottom: 16px" slot="start"></ion-skeleton-text>
        </div>
    </ng-template>

    <ion-infinite-scroll *ngIf="filtroActivo; else infiniteFiltro" threshold="100px" (ionInfinite)="loadDataFiltro($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-template #infiniteFiltro>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-template>



</ion-content>