/* hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 2px;
    border-color: darkgrey;
} */

.bord {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-bottom: 4px dotted blue;
}