ion-thumbnail {
    --border-radius: 5px;
    height: 100%;
}

.negocio-descripcion {
    color: gray;
    font-size: 12px;
}

.star {
    font-size: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-0 {
    margin-top: 0px;
}

.wrap-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    color: #ff4f38;
}

.container {
    width: 100%;
    background-color: green;
    overflow: hidden;
    white-space: nowrap;
     ::-webkit-scrollbar {
        display: none;
    }
    .scroll {
        overflow: auto;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .card {
        width: 60px;
        max-width: 60px;
        display: inline-block;
        text-align: center;
        margin: 1rem 0.75rem;
        font-size: 8pt;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

img {
    border-radius: 5px;
}

ion-thumbnail {
    width: 40vw;
    height: auto;
}