.img-logo {
    height: 10%;
}

ion-thumbnail {
    --border-radius: 5px;
    height: 5rem;
    width: 5rem;
}

.negocio-descripcion {
    color: gray;
    font-size: 12px;
}

.star {
    font-size: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-0 {
    margin-top: 0px;
}

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    color: red;
}