.img-logo {
    height: 2rem;
}

.icono-categoria {
    height: 3rem;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-20 {
    margin-bottom: 15px;
}

.categoria-text {
    margin-top: 0.5rem;
    color: rgb(44, 43, 43);
}

.categoria {
    color: #ff4f38;
    font-size: 6.5pt;
}

.primary {
    color: #ff4f38;
}

.icono-categoria-card {
    height: 2.5rem;
    width: 2.5rem;
    margin: auto;
}

.icono-mapa-card {
    height: 2.5rem;
    width: 1.7rem;
    margin: auto;
}

.text-desc {
    font: 12px;
    color: darkgrey;
}