<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <ion-button color="danger" (click)="reset()">
                Reset
            </ion-button>
        </ion-buttons>
        <ion-title>Ajusta imagen</ion-title>
        <ion-buttons end>
            <ion-button icon-only color="danger" (click)="regresar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
            <ion-button icon-only color="secondary" (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div sytle="height: 75%">
        <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="myImage" *ngIf="myImage"></angular-cropper>
    </div>
    <ion-grid>
        <ion-row *ngIf="myImage">
            <ion-col size="4">
                <ion-button size="small" fill="outline" icon-left color="primary" (click)="zoom(true)">
                    <ion-icon name="add"></ion-icon> Zoom
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button size="small" fill="outline" icon-left color="primary" (click)="zoom(false)">
                    <ion-icon name="remove"></ion-icon> Zoom
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button size="small" fill="outline" icon-left (click)="rotate()">
                    <ion-icon name="refresh"></ion-icon> Girar 90°
                </ion-button>
            </ion-col>

            <ion-col size="2">
                <ion-button size="small" fill="clear" (click)="scaleX()">
                    Girar X
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button size="small" fill="clear" (click)="scaleY()">
                    Girar Y
                </ion-button>
            </ion-col>

            <ion-col size="2">
                <ion-button size="small" fill="clear" icon-only (click)="move(0, -10)">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button size="small" fill="clear" icon-only (click)="move(0, 10)">
                    <ion-icon name="arrow-round-down"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button size="small" fill="clear" icon-only (click)="move(-10, 0)">
                    <ion-icon name="arrow-round-back"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button size="small" fill="clear" icon-only (click)="move(10, 0)">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>