.img-logo {
    height: 2rem;
}

.icono-categoria {
    height: 3rem;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.categoria-text {
    margin-top: 0.5rem;
    color: rgb(44, 43, 43);
}

.primary {
    color: #ff4f38;
}

.icono-categoria-card {
    height: 2rem;
    width: 2rem;
}