.cabezal {
    background: var(--ion-color-primary);
    color: white;
    padding-bottom: 40px;
}

.inpu {
    font-size: 13pt;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-top: 0;
    --padding-end: 0;
    text-align: center;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18pt;
    z-index: 3;
}

.contenido {
    border-radius: 25px 25px 0 0;
    margin-top: -35px;
    overflow: hidden;
    width: 100%
}

.linea {
    border: 1px #fddce1 solid;
}

.boton-pedido {
    position: sticky;
    bottom: 5%;
    width: 100%;
}

.caja-direcciones {
    width: 100vw;
    height: 100vh;
    position: static;
    background: var(--ion-color-primary);
}