.cabezal {
    background: var(--ion-color-primary);
    color: white;
}

.inpu {
    font-size: 13pt;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-top: 0;
    --padding-end: 0;
    text-align: center;
}