<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ng-container *ngIf="producto.guardado; else guardadoTemplate">
                <ion-button (click)="borrarProductoFavorito()">
                    <ion-icon color="primary" name="heart"></ion-icon>
                </ion-button>
            </ng-container>
            <ng-template #guardadoTemplate>
                <ion-button (click)="agregarProductoFavorito()">
                    <ion-icon color="primary" name="heart-empty"></ion-icon>
                </ion-button>
            </ng-template>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row style="text-align: center">
            <ion-col size="12" *ngIf="producto">
                <ion-img style="width: 60%; margin: auto" [src]="producto.url" alt=""></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center">
            <ion-col size="8" align-self-baseline>
                <h4 style="color: var(--ion-color-primary);">{{producto.nombre}}</h4>
            </ion-col>
            <ion-col size="4" align-self-baseline>
                <ion-label>{{producto.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center">
            <ion-col size="12">
                <ion-label color="medium"> {{producto.descripcion}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center">
            <ion-col size="12">
                <ng-container *ngIf="!producto.cart; else botones">
                    <ion-button expand="block" (click)="addProduct()" style="--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);" fill="clear" color="primary">
                        Agregar
                    </ion-button>
                </ng-container>
                <ng-template #botones>
                    <ion-button expand="block" class="boton-add" fill="clear" color="primary">
                        <ion-grid fixed no-padding>
                            <ion-row no-padding>
                                <ion-col align-self-center no-padding size="3" (click)="plusProduct()">
                                    +
                                </ion-col>
                                <ion-col align-self-center no-padding size="6">
                                    <ion-input readonly="true" class="inpu" type="number" [(ngModel)]="producto.cantidad"></ion-input>
                                </ion-col>
                                <ion-col align-self-center no-padding size="3" (click)="minusProduct()">
                                    -
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-button>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-cart (actualiza)="actualizaCart($event)"></app-cart>
</ion-content>