.img-logo {
    height: 2rem;
}

ion-thumbnail {
    --border-radius: 5px;
    height: 5rem;
    width: 5rem;
}

.negocio-descripcion {
    color: gray;
    font-size: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}