<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="data">
            <ion-button (click)="navegar()">
                <ion-icon color="light" slot="icon-only" name="navigate"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="dirDentro">
            <ion-button (click)="guardarDireccion()">
                GUARDAR
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="!data">
        <ion-item>
            <ion-label color="medium" position="floating">Ingresa tu dirección</ion-label>
            <ion-input id="txtHome" type="text" [(ngModel)]="dir" name="direccion"></ion-input>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="true" [zoom]="zoom" *ngIf="data || addDireccion">
        <agm-marker *ngIf="data" [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker *ngIf="addDireccion" [iconUrl]='{"url": icon,"scaledSize": {"height": 120, "width": 80}}' [latitude]="lat" [longitude]="lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
        <div *ngIf="rutaReady">
            <agm-marker [iconUrl]='{"url": "assets/images/person_pin_circle_black_192x192.png","scaledSize": {"height": 120, "width": 80}}' [latitude]="latMe" [longitude]="lngMe"></agm-marker>
            <agm-polyline *ngFor="let point of puntos; let i = index;" [strokeColor]="'#ff4f38'">
                <agm-polyline-point [latitude]="point.lat" [longitude]="point.lng">
                </agm-polyline-point>
            </agm-polyline>
        </div>
    </agm-map>
</ion-content>