ion-thumbnail {
    --border-radius: 5px;
    height: 100%;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-0 {
    margin-top: 0px;
}

.wrap-text {
    margin-right: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.contenido {
    width: 100vw;
    height: 100vh;
    background: var(--ion-color-primary);
}