<ion-content>

    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ng-container *ngIf="infoReady; else infoTemplate">
                <div style="width: 100%; height: 100%">
                    <ion-grid style="margin-top: 2rem" *ngIf="!hasFavoritos">
                        <ion-row style="text-align: center;">
                            <ion-col>
                                <h6 style="color: var(--ion-color-medium);">No tienes productos, servicios o negocios guardados en tu lista de Favoritos</h6>
                            </ion-col>
                        </ion-row>
                        <ion-row style="text-align: center;">
                            <ion-col>
                                <ion-img src="../../assets/images/favoritos.png"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row style="text-align: center;">
                            <ion-col>
                                <h6 style="color: var(--ion-color-medium);">Busca el símbolo
                                    <ion-icon color="primary" name="heart-empty"></ion-icon>
                                    para empezar a llenar tu lista
                                </h6>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
    
                    <div>
                        <lottie-animation-view [options]="lottieConfig" [width]="60" [height]="120">
                        </lottie-animation-view>
                        <div style="width: 80%; position: relative; left: 10%;">
                            <ion-list *ngFor="let item of categorias">
                                <ion-item detail (click)="getListaFavoritos(item)">
                                    <ion-label color="medium">{{item | titlecase}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #infoTemplate>
                    <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-skeleton-text animated style="width: 100px; height: 100px; border-radius: 10px; margin: auto"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <div *ngFor="let item of [1,2,3,4,5,6,7]">
                                        <ion-skeleton-text animated style="width: 80%; height: 40px; border-radius: 5px; margin: 5px auto"></ion-skeleton-text>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
            </ng-template>
            
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%">
                <ion-buttons slot="start">
                    <ion-button (click)="regresarCategorias()">
                        <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
                    </ion-button>
                </ion-buttons>

                <ion-list>
                    <ion-item detail *ngFor="let item of favoritos" (click)="presentOpciones(item)">
                        <ion-thumbnail *ngIf="item.url" slot="start">
                            <img [src]="item.url">
                        </ion-thumbnail>
                        <div class="wrap-text">
                            <h6>{{item.nombre}}</h6>
                            <p>
                                <ion-text *ngIf="isEmpleo" color="medium"><strong>{{item.empresa}}</strong></ion-text> <br *ngIf="isEmpleo">
                                <ion-text *ngIf="!isEmpleo" color="medium">{{item.descripcion}}</ion-text> <br *ngIf="!isEmpleo">
                            </p>
                        </div>
                        <ion-note *ngIf="item.precio" slot="end" style="margin-right: 0.8rem; font-size: 18px" color="primary">
                            {{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                        </ion-note>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>