ion-thumbnail {
    width: 25vw;
    height: auto;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-0 {
    margin-top: 0px;
}

.wrap-text {
    margin-right: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.negocio-descripcion {
    color: gray;
    font-size: 12px;
}