<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis anuncios</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment (ionChange)="segmentChanged($event.detail.value)" value="negocio" scrollable>
            <ion-segment-button value="negocio">
                <ion-label>Negocios</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ofertas">
                <ion-label>Ofertas</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="presentClasificados()" value="clasificados">
                <ion-label>Clasificados
                    <ion-icon style="font-size: 20px" name="arrow-dropdown"></ion-icon>
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="infoReady">
        <ion-grid style="margin-top: 2rem" *ngIf="!hasAnuncios">
            <ion-row style="text-align: center;">
                <ion-col>
                    <h3 style="color: cornflowerblue">No tienes anuncios publicados en esta categoría. Haz click en el botón
                        <ion-icon style="color: #ff4f38; font-size: 25px;" name="add-circle"></ion-icon> para agregar uno</h3>
                </ion-col>
            </ion-row>
            <ion-row style="text-align: center;">
                <ion-col>
                    <ion-img src="../../assets/images/no-results.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="hasAnuncios">
            <ion-list>
                <ion-item *ngFor="let anuncio of anuncios; let i = index" detail (click)="presentActionItem(anuncio.id, i)">
                    <ion-avatar *ngIf="pagina !== 'empleos'" slot="start">
                        <img [src]="anuncio.url[0]">
                    </ion-avatar>
                    <ion-item lines="none">
                        <p>{{anuncio.titulo}} <br>
                            <ion-text color="medium" *ngIf="pagina === 'inmuebles'">{{anuncio.tipoVenta}}</ion-text>
                            <ion-text color="medium" *ngIf="pagina === 'empleos'">{{anuncio.empresa}}</ion-text>
                        </p>
                    </ion-item>
                    <ion-note slot="end" style="margin-right: 0.8rem; font-size: 18px" color="success">$ {{anuncio.precio}}</ion-note>
                </ion-item>
            </ion-list>
        </div>

    </div>

    <div *ngIf="!infoReady">
        <ion-spinner color="primary" name="dots"></ion-spinner>
        <!-- <div *ngFor="let item of [1,2,3,4,5]">
            <ion-item>
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </div> -->
    </div>

    <ion-fab *ngIf="infoReady" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="checkPermiso()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>