<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis anuncios</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="infoReady">
        <ion-grid style="margin-top: 2rem" *ngIf="!hasAnuncios">
            <ion-row style="text-align: center;">
                <ion-col>
                    <h3 style="color: cornflowerblue">No tienes anuncios publicados</h3>
                </ion-col>
            </ion-row>
            <ion-row style="text-align: center;">
                <ion-col>
                    <ion-img src="../../assets/images/no-results.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row style="text-align: center;">
                <ion-col>
                    <ion-button (click)="presentActionSheet()" expand="block" color="primary">Agregar anuncio</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="hasAnuncios">
            <ion-list *ngFor="let categoria of categorias; let i = index">
                <ion-list-header>
                    <ion-label>{{categoria}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let anuncio of (anuncios[i] | keyvalue)">
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>{{anuncio.value.titulo}}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>