<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Reseñas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="isPregunta; else areComentarios">
        <ion-list>
                <div *ngFor="let pregunta of preguntas">
                    <ion-item lines="none">
                        <ion-item lines="none">
                            <ion-text style="font-size: 12pt;">
                                <ion-icon name="text" style="margin-right: 0.5rem"></ion-icon> {{pregunta.pregunta}}
                                <div *ngIf="pregunta.respuesta" style="margin-left: 1rem">
                                    <ion-icon color="medium" style="transform: scale(-1, 1); margin-right: 0.5rem" name="text"></ion-icon>
                                    <span style="color: var(--ion-color-medium);">{{pregunta.respuesta}}</span>
                                </div>
                            </ion-text>
                        </ion-item>
                    </ion-item>
                </div>

            </ion-list>
</ng-container>
<ng-template #areComentarios>
        <ion-list>
                <ion-item lines="none" *ngFor="let opinion of comentarios">
                    <ion-avatar slot="start">
                        <img [src]="opinion.url">
                    </ion-avatar>
                    <ion-note slot="end">{{opinion.puntos}}
                        <ion-icon style="color:orange; margin-left: 0.5rem" name="star">
                        </ion-icon>
                    </ion-note>
                    <div>
                        <ion-text style="font-size: 9pt;" color="medium">{{opinion.usuario}}</ion-text> <br>
                        <ion-text style="font-size: 12pt;">
                            "{{opinion.comentario}}"
                        </ion-text>
                    </div>
                </ion-item>
            </ion-list>
</ng-template>

    

    <ng-container *ngIf="isPregunta; else elseTemplate">
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPreguntas($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
    <ng-template #elseTemplate>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadComentarios($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-template>
</ion-content>