.cabezal {
    width: 100vw;
    height: 30vh;
    background: var(--ion-color-primary);
    position: relative;
}

.foto {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.lista {
    position: relative;
    left: 5%;
    width: 90%;
}