<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis preguntas</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="infoReady">
        <ion-grid style="margin-top: 2rem" *ngIf="preguntas.length === 0">
            <ion-row style="text-align: center;">
                <ion-col>
                    <h3 style="color: cornflowerblue">No tienes preguntas publicados</h3>
                </ion-col>
            </ion-row>
            <ion-row style="text-align: center;">
                <ion-col>
                    <ion-img src="../../assets/images/no-results.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list class="ion-margin-top">
            <ion-item *ngFor="let item of preguntas" detail (click)="presentOpciones(item)">
                <ion-thumbnail slot="start">
                    <img [src]="item.urlNegocio">
                </ion-thumbnail>
                <div>
                    <h6 class="mb-5 mt-0 wrap-text">{{item.nombre}}</h6>
                    <ion-label color="medium" class="negocio-descripcion">{{item.comentario}}</ion-label>
                </div>
                <div slot="end">
                    <ion-note color="primary" class="star">{{item.puntos}}
                        <ion-icon name="star"></ion-icon>
                    </ion-note>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
