.contenido {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ff4f38;
    z-index: 1;
    display: block;
}

.cuadro {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    position: absolute;
    background-color: white;
    z-index: 2;
}

.icono {
    height: 80px;
    width: 80px;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: absolute;
    background-color: aqua;
    z-index: 3;
    top: -10%;
}

.formulario {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
}