.contenido {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ff4f38;
}

.cuadro {
    height: 50%;
    width: 75%;
    top: 25%;
    left: 25%;
    position: absolute;
    background-color: white;
}