.contenido {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ff4f38;
}

.cuadro {
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: white;
}