.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}

.grid-item {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.heart {
    z-index: 1;
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.inpu {
    font-size: 13pt;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-top: 0;
    --padding-end: 0;
    text-align: center;
}

.boton-add {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.product-name {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}