<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Detalles</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="infoReady">
        <ion-card style="margin: 0 0 0.25rem 0 !important; border-radius: 0 !important">
            <ion-slides pager="true" [options]="slidesOpts" #slideWithNav>
                <ion-slide *ngFor="let s of articulo.url">
                    <img [src]="s">
                </ion-slide>
            </ion-slides>
            <ion-card-header>
                <ion-card-title>{{articulo.titulo}}</ion-card-title>
                <ion-card-subtitle>{{articulo.descripcion}}</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>
                <div *ngIf="inmueble">
                    <ion-grid class="linea">
                        <ion-row>
                            <h6 style="margin-left: 1rem; color: #ff4f38">Ubiación</h6>
                        </ion-row>
                        <ion-row>
                            <ion-col size="1">
                                <ion-icon class="icono-lista" name="call"></ion-icon> <br>
                            </ion-col>
                            <ion-col size="11">
                                {{articulo.direccion}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-grid class="linea">
                    <ion-row>
                        <h6 style="margin-left: 1rem; color: #ff4f38">CONTACTO</h6>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-icon class="icono-lista" name="call"></ion-icon> <br>
                        </ion-col>
                        <ion-col size="11">
                            {{articulo.telefono}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid class="linea">
                    <ion-row>
                        <h6 style="margin-left: 1rem; color: #ff4f38">PREGUNTAS</h6>
                    </ion-row>
                    <ion-list>
                        <ion-item lines="none" *ngIf="preguntas.length === 0">
                            <ion-label color="medium">
                                Sé el primero en preguntar
                            </ion-label>
                        </ion-item>
                        <div *ngFor="let pregunta of preguntas">
                            <ion-item lines="none">
                                <ion-avatar slot="start">
                                    <img [src]="pregunta.url">
                                </ion-avatar>
                                <ion-item lines="none">
                                    <p>
                                        <ion-text style="font-size: 9pt;" color="medium">{{pregunta.nombre}}</ion-text> <br>
                                        <ion-text style="font-size: 12pt;">
                                            <ion-icon name="text"></ion-icon> {{pregunta.pregunta.pregunta}}
                                        </ion-text>
                                    </p>
                                </ion-item>
                            </ion-item>
                            <ion-item lines="none" *ngIf="pregunta.respuesta">
                                <ion-label color="medium">
                                    <ion-icon style="transform: scale(-1, 1);" name="text"></ion-icon> {{pregunta.respuesta}}
                                </ion-label>
                            </ion-item>
                        </div>
                        <ion-item lines="none">
                            <ion-button (click)="isAuth()" style="margin: auto" size="small" color="secondary" fill="clear">
                                Preguntar
                            </ion-button>
                        </ion-item>
                    </ion-list>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>

<ion-footer *ngIf="infoReady">
    <ion-toolbar>
        <ion-grid no-paddin>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-label color="primary" style="font-size: 20pt; margin-left: 1rem">
                        $ {{articulo.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                    </ion-label>
                </ion-col>
                <ion-col no-padding>
                    <ion-button (click)="llamar()" style="float:right; margin-right: 1rem" color="primary" size="small">LLAMAR
                        <ion-icon slot="end" name="call"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>