<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Empleos</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Ropa, celuares, coches..." debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="infoReady">
        <ion-list>
            <ion-item *ngFor="let anuncio of empleos; let i = index" detail [routerLink]="['/ficha-empleo', anuncio.id]">
                <ion-item lines="none" detail>
                    <p>
                        <ion-text style="font-size: 14pt"><strong>{{anuncio.titulo}}</strong></ion-text> <br>
                        <ion-text color="medium">{{anuncio.empresa}}</ion-text> <br>
                        <ion-text color="medium">{{anuncio.lugar}}</ion-text>
                    </p>
                    <ion-note *ngIf="pagina === 'clasificados'" slot="end" style="margin-right: 0.8rem; font-size: 18px" color="primary">$ {{item.precio}}</ion-note>
                </ion-item>
            </ion-item>
        </ion-list>
    </div>
    <ion-fab *ngIf="infoReady" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentAlertConfirm()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>