<div id="mySidenav" class="sidenav">
    <ng-container *ngIf="!isOpen && cantidad === 0; else elseTemplate">
        <ion-label color="light" class="cuenta">
            <strong>Carrito vacío</strong>
        </ion-label>
    </ng-container>
    <ng-template #elseTemplate>
        <ion-label *ngIf="!isOpen && cantidad > 0" color="light" class="cuenta" (click)="openCart()">
            <ion-badge style="margin-right: 1rem" color="light">{{cantidad}}</ion-badge>
            <strong>Ver carrito: {{cuenta | currency:'CAD':'symbol-narrow':'1.0-2'}}</strong>
        </ion-label>
    </ng-template>

    <div *ngIf="isOpen" class="container">


    </div>

    <div class="foot">
        <ion-button color="primary" expand="block" shape="round">
            Hacer pedido
        </ion-button>
    </div>
</div>