<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="origen"></ion-back-button>
        </ion-buttons>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="infoReady">
        <ion-card style="margin: 1rem 0 1rem 0 !important; border-radius: 0 !important">
            <ion-slides pager="true" [options]="slidesOpts" #slideWithNav>
                <ion-slide *ngFor="let s of negocio.url">
                    <img [src]="s">
                </ion-slide>
            </ion-slides>
            <ion-card-header>
                <ion-card-title color="primary">{{negocio.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{negocio.descripcion}}
            </ion-card-content>
        </ion-card>

        <div class="contenido">
            <ion-label class="titulo">

            </ion-label>
            <ion-label class="titulo">
                {{negocio.nombre}}
            </ion-label>
            <br>
            <ion-label>
                {{negocio.rate}}
                <ion-icon style="color:orange; margin-right: 1rem;" name="star"></ion-icon>
                <ion-label *ngIf="statusGral === 'Abierto'" color="success">{{statusGral}}</ion-label>
                <ion-label *ngIf="statusGral === 'Cerrado'" color="danger">{{statusGral}}</ion-label>
            </ion-label>


            <!-- <rating [rate]="negocio.rate" readonly="true" size="small">
            </rating> -->
        </div>
    </div>
</ion-content>