<ion-header *ngIf="infoReady" class="animate-bottom">
    <ion-toolbar>
        <ion-segment [(ngModel)]="pagina">
            <ion-segment-button value="productos" *ngIf="hasProductos">
                Productos
            </ion-segment-button>
            <ion-segment-button value="resumen">
                Resumen
            </ion-segment-button>
            <ion-segment-button value="comentarios">
                Reseñas
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" *ngIf="!infoReady">
        <div id="loader"></div>
    </div>

    <ion-grid style="margin-top: 2rem" *ngIf="noLongerExist">
        <ion-row style="text-align: center;">
            <ion-col>
                <h3 style="color: #ff4f38">Este anuncio ha sido borrado</h3>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
            <ion-col>
                <ion-img src="../../assets/images/oops.jpg"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="infoReady && !noLongerExist" [ngSwitch]="pagina">

        <div class="animate-bottom" *ngSwitchCase="'resumen'">

            <div class="relative">
                <ion-icon color="primary" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
                <ion-slides pager="true" [options]="slidesOpts" #slideWithNav>
                    <ion-slide *ngFor="let s of negocio.url">
                        <img [src]="s">
                    </ion-slide>
                </ion-slides>
            </div>

            <ion-grid>
                <ion-row style="text-align: center;">
                    <ion-col size="6" align-self-center>
                        <h4 style="color:#ff4f38">
                            {{negocio.nombre}}
                            <ion-icon (click)="agregarFavorito()" color="primary" *ngIf="!guardado" class="icono-opciones" name="heart-empty"></ion-icon>
                            <ion-spinner *ngIf="guardando" color="primary" name="bubbles"></ion-spinner> <br *ngIf="guardando">
                            <ion-icon (click)="borrarFavorito()" color="primary" *ngIf="guardado" class="icono-opciones" name="heart"></ion-icon>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" align-self-center>
                        <span style="color:#989aa2">{{negocio.descripcion}}</span>
                    </ion-col>
                    <ion-col size="6" align-self-center>
                        <ion-label style="float: right; color: black; margin-left: 1rem">
                            {{negocio.rate | number:'1.0-2'}}
                            <ion-icon style="color:orange" name="star"></ion-icon>
                            <ion-label style="margin-right: 1rem">({{negocio.valoraciones}})</ion-label>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div class="linea">
                <div style="width: 95% !important; margin: auto">
                    <h6>SUCURSALES</h6>
                    <ion-grid>
                        <ion-row style="text-align: left;" *ngFor="let sucursal of sucursales; let i = index">
                            <ion-col size="6">
                                <ion-text style="font-size: 12pt">
                                    {{i+1}}.- {{sucursal.nombre}} - <span style="font-size: 10pt; color: #ff4f38">{{sucursal.status}}</span>
                                </ion-text>
                            </ion-col>
                            <ion-col size="6">
                                <ion-icon (click)="presentInfoSucursal(i)" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="information-circle"></ion-icon>
                                <ion-icon (click)="llamar(sucursal.telefono)" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="call"></ion-icon>
                                <ion-icon [routerLink]="['/mapa', sucursal.lat,sucursal.lng]" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="pin"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>

            <ion-grid class="linea">
                <ion-row>
                    <h6 style="margin-left: 1rem">COMENTARIOS</h6>
                </ion-row>
                <ion-row style="text-align: center">
                    <ion-col size="9">
                        <ion-row *ngFor="let calificacion of calificaciones">
                            <ion-col align-self-center size="1">
                                {{calificacion.valor}}
                            </ion-col>
                            <ion-col align-self-center size="11">
                                <ion-progress-bar color="primary" [value]="calificacion.cantidad / valoraciones.resumen.cantidad"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col align-self-center size="3" style="text-align: center">
                        <ion-row style="text-align: center">
                            <ion-col>
                                <h1 style="color: #ff4f38">
                                    {{negocio.rate | number:'1.0-2'}}
                                </h1>
                            </ion-col>
                        </ion-row>
                        <ion-row style="text-align: center">
                            <ion-col>
                                <ion-label style="font-size: 12px">{{negocio.valoraciones}} opiniones</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-list>
                    <ion-item lines="none" *ngFor="let opinion of opiniones">
                        <ion-avatar slot="start">
                            <img [src]="opinion.url">
                        </ion-avatar>
                        <ion-label>
                            "{{opinion.comentario}}"
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-grid>

            <ion-grid class="linea mb-20">
                <ion-row>
                    <h6 style="margin-left: 1rem">
                        CALIFICAR Y COMENTAR
                    </h6>
                </ion-row>
                <ion-row style="text-align: center">
                    <ion-col>
                        <rating [(ngModel)]="puntuacion" (ngModelChange)="rateChange($event)">
                        </rating>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="animate-bottom" *ngSwitchCase="'productos'">

            <div *ngIf="hasOfertas" class="relative">
                <ion-icon color="primary" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
                <ion-slides [options]="sliderConfig" pager="true">
                    <ion-slide *ngFor="let oferta of ofertas">
                        <img [src]="oferta.url" [routerLink]="['/ficha-oferta', oferta.key, 'buscar']">
                    </ion-slide>
                </ion-slides>
            </div>

            <div>
                <ion-item lines="none">
                    <h4 style="color: var(--ion-color-primary)" text-wrap>Más vendidos</h4>
                </ion-item>
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let prod of productosDestacados">
                        <ion-img [src]="prod.url" alt=""></ion-img>
                        <h6 text-wrap>{{prod.nombre}}</h6>
                        <span style="color: var(--ion-color-medium); font-size: 13pt">
                            {{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                        </span> <br>
                        <span style="color: var(--ion-color-medium); font-size: 12pt">
                            {{prod.unidad}}
                        </span>
                    </div>
                </div>
            </div>

            <div *ngFor="let item of productos">

                <ion-item lines="none" detail>
                    <h4 style="color: var(--ion-color-primary)" text-wrap>{{item.nombre}}</h4>
                </ion-item>
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let prod of item.productos | keyvalue">
                        <ion-img [src]="prod.value.url" alt=""></ion-img>
                        <h6 text-wrap>{{prod.value.nombre}}</h6>
                        <span style="color: var(--ion-color-medium); font-size: 13pt">
                                {{prod.value.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                            </span> <br>
                        <span style="color: var(--ion-color-medium); font-size: 12pt">
                                {{prod.value.unidad}}
                            </span>
                    </div>
                </div>
            </div>

            <!-- <div *ngFor="let item of productos">
                <ion-item lines="none" detail>
                    <ion-label>{{item.nombre}}</ion-label>
                </ion-item>
                <div class="grid-container">
                    <div class="grid-item" *ngFor="let prod of item.productos | keyvalue">
                        <img [src]="prod.value.url" alt=""> <br>
                        <h6 text-wrap>{{prod.value.nombre}}</h6>
                        <span style="color: var(--ion-color-primary);">{{prod.value.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>






</ion-content>