<ion-header *ngIf="infoReady" class="animate-bottom">
    <ion-toolbar [appScrollVanish]="scrollArea">
        <div class="relative">
            <ion-icon color="primary" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
            <ion-slides pager="true" [options]="slidesOpts" #slideWithNav>
                <ion-slide *ngFor="let s of negocio.url">
                    <img [src]="s">
                </ion-slide>
            </ion-slides>
        </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="pagina">
            <ion-segment-button value="resumen">
                Resumen
            </ion-segment-button>
            <ion-segment-button value="productos">
                Productos
            </ion-segment-button>
            <ion-segment-button value="comentarios">
                Reseñas
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
    <div class="container" *ngIf="!infoReady">
        <div id="loader"></div>
    </div>

    <ion-grid style="margin-top: 2rem" *ngIf="noLongerExist">
        <ion-row style="text-align: center;">
            <ion-col>
                <h3 style="color: #ff4f38">Este anuncio ha sido borrado</h3>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
            <ion-col>
                <ion-img src="../../assets/images/oops.jpg"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="animate-bottom" *ngIf="infoReady && !noLongerExist">
        <ion-card style="margin: 0 0 0.25rem 0 !important; border-radius: 0 !important">
            <ion-card-header>
                <ion-card-title color="primary">{{negocio.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-label style="float: right; color: black; margin-left: 1rem">
                    {{negocio.rate | number:'1.0-2'}}
                    <ion-icon style="color:orange" name="star"></ion-icon>
                    <ion-label style="margin-right: 1rem">({{negocio.valoraciones}})</ion-label>

                    <ion-label *ngIf="statusGral === 'Abierto'" color="success">{{statusGral}}</ion-label>
                    <ion-label *ngIf="statusGral === 'Cerrado'" color="danger">{{statusGral}}</ion-label>
                </ion-label>
                {{negocio.descripcion}}
            </ion-card-content>
        </ion-card>


        <ion-grid class="linea">
            <ion-row style="text-align: center;">
                <ion-col (click)="llamar()">
                    <ion-icon class="icono-opciones" name="call"></ion-icon> <br>
                    <ion-label color="primary">LLAMAR</ion-label>
                </ion-col>
                <ion-col [routerLink]="['/mapa', negocio.lat, negocio.lng]">
                    <ion-icon class="icono-opciones" name="pin"></ion-icon> <br>
                    <ion-label color="primary" text-wrap>VER UBICACIÓN</ion-label>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="agregarFavorito()" *ngIf="!guardado" class="icono-opciones" name="heart-empty"></ion-icon> <br *ngIf="!guardado">
                    <ion-label *ngIf="!guardado" color="primary">GUARDAR</ion-label>
                    <ion-spinner *ngIf="guardando" color="primary" name="bubbles"></ion-spinner> <br *ngIf="guardando">
                    <ion-label *ngIf="guardando" color="primary">GUARDAR</ion-label>
                    <ion-icon (click)="borrarFavorito()" *ngIf="guardado" class="icono-opciones" name="heart"></ion-icon> <br *ngIf="guardado">
                    <ion-label *ngIf="guardado" color="primary">FAVORITO</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="linea">
            <ion-row>
                <ion-col size="1" align-self-center>
                    <ion-icon class="icono-lista" name="pin"></ion-icon> <br>
                </ion-col>
                <ion-col size="7" align-self-center>
                    {{negocio.direccion}}
                </ion-col>
                <ion-col size="4">
                    <agm-map *ngIf="ubicacionReady" [latitude]="negocio.lat" [longitude]="negocio.lng" [zoom]="16" [streetViewControl]="false" [zoomControl]="false">
                        <agm-marker [latitude]="negocio.lat" [longitude]="negocio.lng"></agm-marker>
                    </agm-map>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="linea">
            <ion-row>
                <ion-col size="1">
                    <ion-icon class="icono-lista" name="time"></ion-icon> <br>
                </ion-col>
                <ion-col size="11" *ngIf="!despliegueHorario" (click)="despliegueHorario = true">
                    {{status}}
                    <ion-icon name="arrow-dropdown"></ion-icon>
                </ion-col>
                <ion-col size="11" *ngIf="despliegueHorario" (click)="despliegueHorario = false">
                    <ion-row *ngFor="let item of negocio.horario">
                        <ion-col size="4">
                            <ion-label>{{item.dia}}</ion-label>
                        </ion-col>
                        <ion-col size="8">
                            <ion-label *ngIf="item.activo === true">{{item.horaApertura | date:'h:mm a' }}-{{item.horaCierre | date:'h:mm a'}}</ion-label>
                            <ion-label *ngIf="item.activo === false">Cerrado</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="linea">
            <ion-row>
                <ion-col size="1">
                    <ion-icon class="icono-lista" name="call"></ion-icon> <br>
                </ion-col>
                <ion-col size="11">
                    {{negocio.telefono}}
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="linea">
            <ion-row>
                <h6 style="margin-left: 1rem">COMENTARIOS</h6>
            </ion-row>
            <ion-row style="text-align: center">
                <ion-col size="9">
                    <ion-row *ngFor="let calificacion of calificaciones">
                        <ion-col align-self-center size="1">
                            {{calificacion.valor}}
                        </ion-col>
                        <ion-col align-self-center size="11">
                            <ion-progress-bar color="primary" [value]="calificacion.cantidad / valoraciones.resumen.cantidad"></ion-progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col align-self-center size="3" style="text-align: center">
                    <ion-row style="text-align: center">
                        <ion-col>
                            <h1 style="color: #ff4f38">
                                {{negocio.rate | number:'1.0-2'}}
                            </h1>
                        </ion-col>
                    </ion-row>
                    <ion-row style="text-align: center">
                        <ion-col>
                            <ion-label style="font-size: 12px">{{negocio.valoraciones}} opiniones</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-list>
                <ion-item lines="none" *ngFor="let opinion of opiniones">
                    <ion-avatar slot="start">
                        <img [src]="opinion.url">
                    </ion-avatar>
                    <ion-label>
                        "{{opinion.comentario}}"
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-grid>

        <ion-grid class="linea mb-20">
            <ion-row>
                <h6 style="margin-left: 1rem">
                    CALIFICAR Y COMENTAR
                </h6>
            </ion-row>
            <ion-row style="text-align: center">
                <ion-col>
                    <rating [(ngModel)]="puntuacion" (ngModelChange)="rateChange($event)">
                    </rating>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>






</ion-content>