.img-logo {
    height: 2rem;
}

.contenido {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 3rem;
}

.titulo {
    margin-top: 25px;
    font-size: 18px;
    color: #ff4f38;
}

.rate {
    width: 15px !important;
}