.img-logo {
    height: 2rem;
}

.contenido {
    margin-left: 1rem;
    margin-right: 1rem;
}

.titulo {
    margin-top: 25px;
    font-size: 16px;
    color: #ff4f38;
}

.icono-opciones {
    color: #ff4f38;
    font-size: 25px;
    border: 1px solid #ff4f38;
    padding: .5rem;
    border-radius: 100%;
}

.icono-lista {
    color: #ff4f38;
    font-size: 18px;
}

hr {
    color: aqua;
    border-color: #ee1414;
    // display: block;
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
    // margin-left: auto;
    // margin-right: auto;
    border-width: 5px;
}

.prueba {
    border-bottom: #ee1414;
    border-bottom-width: 1px;
}

#map_canvas {
    height: 100px;
    width: 100px;
}