<ion-header *ngIf="infoReady" class="animate-bottom">
    <ion-toolbar [appScrollVanish]="scrollArea">
        <div class="relative">
            <ion-icon color="primary" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
            <ion-slides pager="true" [options]="slidesOpts" #slideWithNav>
                <ion-slide *ngFor="let s of negocio.url">
                    <img [src]="s">
                </ion-slide>
            </ion-slides>
        </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="pagina">
            <ion-segment-button value="resumen">
                Resumen
            </ion-segment-button>
            <ion-segment-button value="productos" *ngIf="hasProductos">
                Productos
            </ion-segment-button>
            <ion-segment-button value="comentarios">
                Reseñas
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
    <div class="container" *ngIf="!infoReady">
        <div id="loader"></div>
    </div>

    <ion-grid style="margin-top: 2rem" *ngIf="noLongerExist">
        <ion-row style="text-align: center;">
            <ion-col>
                <h3 style="color: #ff4f38">Este anuncio ha sido borrado</h3>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
            <ion-col>
                <ion-img src="../../assets/images/oops.jpg"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="infoReady && !noLongerExist" [ngSwitch]="pagina">

        <div class="animate-bottom" *ngSwitchCase="'resumen'">

            <ion-grid>
                <ion-row>
                    <ion-col size="6" align-self-center>
                        <h4 style="color:#ff4f38">{{negocio.nombre}}</h4>
                    </ion-col>
                    <ion-col size="6" align-self-center>
                        <ion-label style="float: right; color: black; margin-left: 1rem">
                            {{negocio.rate | number:'1.0-2'}}
                            <ion-icon style="color:orange" name="star"></ion-icon>
                            <ion-label style="margin-right: 1rem">({{negocio.valoraciones}})</ion-label>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" align-self-center>
                        <span style="color:#989aa2">{{negocio.descripcion}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row style="text-align: center;">
                    <ion-col (click)="llamar()">
                        <ion-icon class="icono-opciones" name="call"></ion-icon> <br>
                        <ion-label color="primary">LLAMAR</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/mapa', negocio.lat, negocio.lng]">
                        <ion-icon class="icono-opciones" name="pin"></ion-icon> <br>
                        <ion-label color="primary" text-wrap>UBICACIÓN</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon (click)="agregarFavorito()" *ngIf="!guardado" class="icono-opciones" name="heart-empty"></ion-icon> <br *ngIf="!guardado">
                        <ion-label *ngIf="!guardado" color="primary">GUARDAR</ion-label>
                        <ion-spinner *ngIf="guardando" color="primary" name="bubbles"></ion-spinner> <br *ngIf="guardando">
                        <ion-label *ngIf="guardando" color="primary">GUARDAR</ion-label>
                        <ion-icon (click)="borrarFavorito()" *ngIf="guardado" class="icono-opciones" name="heart"></ion-icon> <br *ngIf="guardado">
                        <ion-label *ngIf="guardado" color="primary">FAVORITO</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div *ngIf="hasOfertas">
                <ion-item lines="none" detail>
                    <ion-label>Promociones</ion-label>
                </ion-item>
                <ion-slides [options]="sliderConfig" pager="true">
                    <ion-slide *ngFor="let oferta of ofertas">
                        <img [src]="oferta.url" [routerLink]="['/ficha-oferta', oferta.key, 'buscar']">
                    </ion-slide>
                </ion-slides>
            </div>

            <div *ngIf="hasProductos">
                <ion-item lines="none" detail>
                    <ion-label>Productos</ion-label>
                </ion-item>
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let item of productosDestacados">
                        <img [src]="item.url" alt=""> <br>
                        <h6 text-wrap>{{item.nombre}}</h6>
                        <span style="color: var(--ion-color-primary);">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</span>
                    </div>
                </div>
            </div>

            <div class="linea">
                <div style="width: 95% !important; margin: auto">
                    <h6>SUCURSALES</h6>
                    <ion-grid>
                        <ion-row style="text-align: left;" *ngFor="let sucursal of sucursales; let i = index">
                            <ion-col size="6">
                                <ion-text style="font-size: 14pt">
                                    {{i+1}}.- {{sucursal.nombre}} - {{sucursal.status}}
                                </ion-text>
                            </ion-col>
                            <ion-col size="6">
                                <ion-icon (click)="presentInfoSucursal(i)" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="information-circle"></ion-icon>
                                <ion-icon (click)="llamar(sucursal.telefono)" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="call"></ion-icon>
                                <ion-icon [routerLink]="['/mapa', sucursal.lat,sucursal.lng]" style="float: right; font-size: 20pt; margin-right: .75rem" color="primary" name="pin"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>

            <ion-grid class="linea">
                <ion-row>
                    <ion-col size="1" align-self-center>
                        <ion-icon class="icono-lista" name="pin"></ion-icon> <br>
                    </ion-col>
                    <ion-col size="7" align-self-center>
                        {{negocio.direccion}}
                    </ion-col>
                    <ion-col size="4">
                        <agm-map *ngIf="ubicacionReady" [latitude]="negocio.lat" [longitude]="negocio.lng" [zoom]="14" [streetViewControl]="false" [zoomControl]="false">
                            <agm-marker [latitude]="negocio.lat" [longitude]="negocio.lng"></agm-marker>
                        </agm-map>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="linea">
                <ion-row>
                    <ion-col size="1">
                        <ion-icon class="icono-lista" name="time"></ion-icon> <br>
                    </ion-col>
                    <ion-col size="11" *ngIf="!despliegueHorario" (click)="despliegueHorario = true">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-col>
                    <ion-col size="11" *ngIf="despliegueHorario" (click)="despliegueHorario = false">
                        <ion-row *ngFor="let item of negocio.horario">
                            <ion-col size="4">
                                <ion-label>{{item.dia}}</ion-label>
                            </ion-col>
                            <ion-col size="8">
                                <ion-label *ngIf="item.activo === true">{{item.horaApertura | date:'h:mm a' }}-{{item.horaCierre | date:'h:mm a'}}</ion-label>
                                <ion-label *ngIf="item.activo === false">Cerrado</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="linea">
                <ion-row>
                    <ion-col size="1">
                        <ion-icon class="icono-lista" name="call"></ion-icon> <br>
                    </ion-col>
                    <ion-col size="11">
                        {{negocio.telefono}}
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="linea">
                <ion-row>
                    <h6 style="margin-left: 1rem">COMENTARIOS</h6>
                </ion-row>
                <ion-row style="text-align: center">
                    <ion-col size="9">
                        <ion-row *ngFor="let calificacion of calificaciones">
                            <ion-col align-self-center size="1">
                                {{calificacion.valor}}
                            </ion-col>
                            <ion-col align-self-center size="11">
                                <ion-progress-bar color="primary" [value]="calificacion.cantidad / valoraciones.resumen.cantidad"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col align-self-center size="3" style="text-align: center">
                        <ion-row style="text-align: center">
                            <ion-col>
                                <h1 style="color: #ff4f38">
                                    {{negocio.rate | number:'1.0-2'}}
                                </h1>
                            </ion-col>
                        </ion-row>
                        <ion-row style="text-align: center">
                            <ion-col>
                                <ion-label style="font-size: 12px">{{negocio.valoraciones}} opiniones</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-list>
                    <ion-item lines="none" *ngFor="let opinion of opiniones">
                        <ion-avatar slot="start">
                            <img [src]="opinion.url">
                        </ion-avatar>
                        <ion-label>
                            "{{opinion.comentario}}"
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-grid>

            <ion-grid class="linea mb-20">
                <ion-row>
                    <h6 style="margin-left: 1rem">
                        CALIFICAR Y COMENTAR
                    </h6>
                </ion-row>
                <ion-row style="text-align: center">
                    <ion-col>
                        <rating [(ngModel)]="puntuacion" (ngModelChange)="rateChange($event)">
                        </rating>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="animate-bottom" *ngSwitchCase="'productos'">
            <div *ngFor="let item of productos">
                <ion-item lines="none" detail>
                    <ion-label>Productos</ion-label>
                </ion-item>
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let item of productosDestacados">
                        <img [src]="item.url" alt=""> <br>
                        <h6 text-wrap>{{item.nombre}}</h6>
                        <span style="color: var(--ion-color-primary);">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>






</ion-content>