<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Artículos varios</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Ropa, celuares, coches..." debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="infoReady">
        <ion-row>
            <ion-col size="6" *ngFor="let anuncio of anuncios">
                <ion-card>
                    <div>
                        <div>
                            <img style="object-fit: contain" [src]="anuncio.url[0]">
                        </div>
                        <div style="height: 45px; margin: 0.35rem 0 0.35rem 0.75rem">
                            <ion-card-title color="primary">$ {{anuncio.precio}}</ion-card-title>
                            <ion-label color="medium " text-wrap>
                                {{anuncio.titulo}}
                            </ion-label>
                        </div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!infoReady">
        <ion-row>
            <ion-col size="6" *ngFor="let anuncio of [1,2,3,4,5,6,7,8]">
                <ion-card>
                    <div>
                        <div>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </div>
                        <div style="height: 45px; margin: 0.35rem 0 0.35rem 0.75rem">
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            <ion-label>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </ion-label>
                        </div>
                    </div>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>