.img-logo {
    height: 2rem;
}

// .wrapper {
//     height: 150px;
//     // background: #faeded;
// }
// .wrapper img {
//     height: 100%;
//     width: 100%;
//     object-fit: contain;
// }
.pins {
    column-count: 10;
    .pin {
        margin: 10px 5px 10px 5px;
        display: inline-block;
    }
}