.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: auto;
}

.border {
    border-collapse: collapse;
    border: 6px dotted #c4c4c7;
    background: greenyellow;
    box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888, /* Just to fix the corner */
    2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
}