<ion-header class="mb-15" *ngIf="!contactUs">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ofertas</ion-title>
        <ion-buttons slot="end" *ngIf="pagina === 'bazar'">
            <ion-button (click)="presentCategorias()">Filtrar
                <ion-icon style="margin-left: .8rem" name="options"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary" *ngIf="infoReady">
        <ion-searchbar placeholder="Ropa, celuares, coches..." debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content #pageTop>
    <div *ngIf="infoReady && !contactUs">
        <ion-grid>
            <ion-row no-padding>
                <ion-col no-padding size="6" *ngFor="let anuncio of anuncios" (click)="detallesAnuncio(anuncio)">
                    <div class="cell">
                        <div>
                            <img [src]="anuncio.url">
                        </div>
                        <div style="height: auto; margin: 0; text-align: center">
                            <ion-label color="dark" text-wrap>
                                {{anuncio.titulo}}
                            </ion-label>
                            <ion-card-title style="font-size: 12pt" color="primary">{{anuncio.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-card-title>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid *ngIf="!infoReady">
        <ion-row>
            <ion-col size="6" *ngFor="let anuncio of [1,2,3,4,5,6,7,8]">
                <ion-card>
                    <div>
                        <ion-skeleton-text animated style="width: 100%; height: 150px" slot="start"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 80%; height: 15px"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 80%; height: 5px"></ion-skeleton-text>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab *ngIf="infoReady && !contactUs" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarAnuncio()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div style="margin-top: 2rem" *ngIf="contactUs">
        <div>
            <ion-img class="topleft" (click)="upgradeCuenta = false" src="../../assets/images/back.png" alt=""></ion-img>
        </div>
        <div style="width: 80% !important; margin: 4rem auto 2rem auto">
            <h5 style="color: black; text-align: center">Con tu cuenta gratuita puedes publicar hasta 5 anuncios simultáneamente. Solicita tu cuenta premium para poder publicar más. O bien borra algún anuncio que ya no necesites publicar</h5>
        </div>
        <ion-img style="width: 70% !important; margin: 1.5rem auto" src="../../assets/images/contactUs.png"></ion-img>
        <ion-grid>
            <ion-row justify-content-center style="text-align: center">
                <h5 style="color: black; text-align: center">Contáctanos para más información</h5>
            </ion-row>
            <ion-row justify-content-center style="text-align: center">
                <ion-icon style="font-size: 30pt; margin-right: 1rem" color="primary" name="information-circle"></ion-icon>
                <ion-icon style="font-size: 30pt; margin-right: 1rem" color="primary" name="call"></ion-icon>
                <ion-icon style="font-size: 30pt; margin-right: 1rem" color="primary" name="logo-whatsapp"></ion-icon>
            </ion-row>
        </ion-grid>
    </div>

    <ion-infinite-scroll *ngIf="filtroActivo; else infiniteFiltro" threshold="100px" (ionInfinite)="loadDataFiltro($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-template #infiniteFiltro>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-template>

</ion-content>