<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Artículos varios</ion-title>
        <img slot="end" class="img-logo" src="../../assets/images/ubika-logo.png" alt="">
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Ropa, celuares, coches..." debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="infoReady">
        <ion-row>
            <ion-col size="6" *ngFor="let anuncio of anuncios">
                <ion-card>
                    <div>
                        <div>
                            <img style="object-fit: contain" [src]="anuncio.url[0]">
                        </div>
                        <div style="height: 45px; margin: 0.35rem 0 0.35rem 0.75rem">
                            <ion-card-title color="primary">$ {{anuncio.precio}}</ion-card-title>
                            <ion-label color="medium " text-wrap>
                                {{anuncio.titulo}}
                            </ion-label>
                        </div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="!infoReady">
        <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>

        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-list-header>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>