.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: auto;
}

.cell {
    display: table-cell;
    border: 2px dotted lightgray;
}

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

ion-thumbnail {
    width: 40vw;
    height: auto;
}